* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-credit {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 1rem;
    color: #35af1d;
    opacity: 0.8;
    font-family: "Press Start 2P", sans-serif;
}

/* Remove the underline from the buttons */
a {
    text-decoration: none;
}

/* Ensure canvas is above the background but below text */
#dotsCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Keeps it behind text */
    pointer-events: none;
    /* Prevents interaction */
}


/* Welcome Page (Floating Screen) */
.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(12, 12, 13, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    z-index: 10;
}

/* Hide Welcome Screen on Scroll */
.hidden {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
}

/* Sidebar Container */
.sidebar {
    position: fixed;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Button Styling */
.btn {
    line-height: 1.8rem;
    border-radius: 9.5px;
    display: inline-flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    background-color: #18181b;
    color: #f4f4f5;
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 150px;
}

.btn:hover {
    background-color: #0c0c0d;
}

.btn:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgb(0, 220, 130), rgb(0, 220, 130), rgb(0, 220, 130));
    inset: -2px;
    z-index: -1;
    border-radius: 12.5px;
    transition: all 0.2s ease 0s;
}

.btn:hover:before {
    box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px,
        rgba(0, 220, 130, 0.5) 0px 0px 20px 0px;
}

/* Description Styling */
.descriptions {
    position: fixed;
    top: 50%;
    left: 280px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    opacity: 1;
}

.description {
    font-size: 0.8rem;
    opacity: 0.9;
    line-height: 5.0rem;
}

/* Show descriptions only when hovered */
.sidebar:hover+.descriptions {
    opacity: 1;
}